<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>422318823967-kr32957mf5tt13t2koc5je72186vgip9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.422318823967-kr32957mf5tt13t2koc5je72186vgip9</string>
	<key>API_KEY</key>
	<string>AIzaSyDHTAICbal6me-Tqpus_ljehh1b0IoNHIA</string>
	<key>GCM_SENDER_ID</key>
	<string>422318823967</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.schedule-app</string>
	<key>PROJECT_ID</key>
	<string>schedule-app-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>schedule-app-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:422318823967:ios:2be94e79609f9b647b932a</string>
</dict>
</plist>